body {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 70px;
    width: 50%;
    color: purple;
    margin-top: 100px;
}

.flex {
    display: flex;
    padding: 30px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: 1px dashed gray;
    height: 200px;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.item {
    height: 60px;
    width: 200px;
    /* border: 1px solid orange; */
    background: orange;
    border-radius: 20px;
}

.item:nth-child(even){
    background: rgb(255, 217, 146);
}

.item:first-child {
    border: 1px solid orange;
    background: none;
}